<div class="jumbotron">
	<h2>MultirotorQnA</h2>
	<p class="lead">Ask and you will receive.<br/>This is a drone QnA forum where as a community we can ask and answer each others questions.</p>  
</div>

<div *ngFor="let p of posts" class="list-group">
<a  href="">
	<div class="list-group-item">
		<h4 class="list-group-item-heading"	>{{p.title}}</h4>
		<span>
			<span class="text-muted">{{p.body}}</span>
			<span class="pull-right">
				<strong>{{p.date}}</strong>
			</span>
		</span>
	</div>
</a>
</div>
